/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Prata&display=swap');

:root {
    /* Font Family */
    --font-1: 'Changa', sans-serif;
    --font-2: 'Prata', serif;

    /* Font Weight */
    --fw-regular: 400;

    /* Colors */
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 96%);
    --hover-color: hsl(0, 76%, 53%);

    /* Space */
    --space-scale-ratio: 1;
    --space: calc(3rem * var(--space-scale-ratio));

    --space-0_25: calc(0.25 * var(--space));
    --space-0_5: calc(0.5 * var(--space));
    --space-0_75: calc(0.75 * var(--space));
    --space-1: var(--space);
    --space-1_5: calc(1.5 * var(--space));
    --space-2: calc(2 * var(--space));
    --space-2_5: calc(2.5 * var(--space));
    --space-3: calc(3 * var(--space));
    --space-3_5: calc(3.5 * var(--space));
    --space-4: calc(4 * var(--space));
}

/* Base style */
html{
    box-sizing: border-box;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html, body {
    overflow-x: hidden;
    font-family: var(--font-1);
    font-weight: var(--fw-regular);
    line-height: 1.2;
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: var(--white);
}
@media screen and (hover: hover){
    a:hover {
        color: var(--hover-color);
    }
}
img {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Animation */
.animation-top, .animation-hero {
    opacity: 0;
    transform: translateY(100px);
    transition: transform .8s ease, opacity .8s ease;
}
.animation-hero {
    transition-delay: 1.4s;
}
.animation-hero:nth-child(2) {
    transition-delay: 1.6s;
}
.animationShow {
    opacity: 1;
    transform: translateY(0px);
}
.page.loaded .animation-hero {
    opacity: 1;
    transform: translateY(0px);
}