.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}
@media screen and (max-width: 660px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.border {
    width: 100%;
    height: 1px;
    background: var(--white);
}

/* TYPOGRAPHY */
h1 {
    font-family: var(--font-1);
    font-size: clamp(2.6rem, 10vw, 6rem);
    letter-spacing: -2px;
}
h2 {
    font-family: var(--font-2);
    font-size: clamp(1.2rem, 5vw, 2rem);
}
h3 {
    font-size: var(--fs-xlg);
}
.lead{
    font-family: var(--font-2);
    letter-spacing: 1px;
    font-size: var(--fs-xlg)
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 9;
}
.header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media screen and (max-width: 660px) {
    .header .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Logo */
.logo img.geometric-shape {
    width: 50px;
}

/* Navigation */
.nav {
    align-self: center;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li {
    transition: all 1s ease;
    margin-left: 4rem;
}
.nav ul li a {
    transition: all 1s ease;
    font-size: 1.8rem;
}
@media screen and (max-width:660px) {
    .nav ul li {
        margin-left: 1rem;
    }
    .nav ul li a {
        font-size: 1rem;
    }
}

/* Landing Page */
.landing-page {
    min-height: 700px;
    height: 100vh;
    padding-top: 5rem;
}
.landing-page .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-page .text-content{
    margin-bottom: 3rem;
}
h1 {
    line-height: .9;
}
h2 {
    position: relative;
}
.landing-page .geometric-shape {
    position: absolute;
    width: 50px;
    transform: translateX(50px);
}

.experience-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6rem;
    transition: all 1s ease;
}
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    border: 2px solid var(--white);
    border-right: 2px solid var(--black);
    width: 350px;
    height: 350px;
    transition: width 1s ease, height 1s ease;
}
.experience span {
    font-size: 2.6rem;
    text-align: center;
    transition: font-size 1s ease;
}
@media screen and (max-width:900px) {
    .landing-page {
        padding-top: 3rem;
        min-height: 100%;
    }
    .experience-container {
        gap: 3rem;
    }
    .experience {
        width: 260px;
        height: 260px;
    }
    .experience span {
        font-size: 2.4rem;
        line-height: 1.2;
    }
}
@media screen and (max-width:660px) {
    .landing-page .geometric-shape {
        transform: translateX(0px);
        margin-left: 1rem;
    }
    .experience-container {
        flex-direction: column;
        gap: 0;
        width: 60%;
        margin: 0 auto;
    }
    .experience:first-child {
        align-self: flex-end;
    }
    .experience {
        width: 200px;
        height: 200px;
    }
    .experience span {
        font-size: 1.6rem;
    }
}
@media screen and (max-width:480px) {
    .experience-container {
        width: 100%;
    }
}

/* About Me*/
.about-me {
    margin-bottom: var(--space-1_5)
}
.about-me .text-content {
    background: url(../images/person.png) no-repeat right center / cover;
    background-size: contain;
    width: 90%;
    padding-bottom: var(--space-1_5);
}
.about-me h3 {
    margin-top: var(--space-1_5);
    margin-bottom: var(--space-1_5);
}
.lead {
    width: 70%;
}
.about-me .geometric-shape {
    width: var(--fs-xxlg);
    margin-left: 3rem;
}
@media screen and (max-width:780px) {
    .about-me .text-content {
        width: 100%;
    }
}

/* Projects */
.projects {
    padding-bottom: var(--space-2);
}
.portfolio h3 {
    margin-bottom: var(--space-1_5);
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media screen and (min-width: 900px) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
    .projects img:first-child {
        grid-column: 1/3;
    }
    .projects img:nth-child(2) {
        grid-column: 3/5;
    }
}

/* Awards & Contact */
.awards h3 {
    margin-top: var(--space-1_5);
    margin-bottom: var(--space-1_5);
}
.awards .text-content {
    margin-bottom: var(--space-1_5);
}
.awards .text-content p, .contact .text-content span {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-lg);
    font-family: var(--font-2);
    line-height: 2.4;
}
.awards .geometric-shape {
    width: 20px;
    margin-left: 1vw;
}
.contact h3 {
    margin-top: var(--space-1_5);
    margin-bottom: var(--space-1_5);
}

/* Footer */
.footer {
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .geometric-shape {
    width: auto;
    height: 100px;
}
.social-icon {
    display: flex;
    align-items: flex-end;
}
.social-icon a {
    margin-left: var(--space-0_75);
    height: 100%;
}
.social-icon img {
    height: 40px;
    width: auto;
}
.social-icon a:first-child img{
    height: 30px;
}
@media screen and (max-width: 900px) {
    .footer .geometric-shape {
        height: 50px;
    }
    .social-icon img {
        height: 30px;
    }
    .social-icon a:first-child img{
        height: 20px;
    }
}

/* Media Root */
@media screen and (max-width: 900px) {
    :root{
        --font-scale-ratio: .8;
        --space-scale-ratio: .6;
    }
}
@media screen and (max-width: 660px) {
    :root{
        --font-scale-ratio: .6;
        --space-scale-ratio: .4;
    }
}
@media screen and (max-width: 480px) {
    :root{
        --font-scale-ratio: .4;
    }
}