/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Prata&display=swap');

:root {
    /* Font Family */
    --font-1: 'Changa', sans-serif;
    --font-2: 'Prata', serif;

    /* Font Weight */
    --fw-regular: 400;

    /* Font Size */
    --font-scale-ratio: 1;
    --fs-basic: calc(14px * var(--font-scale-ratio));

    --fs-xsm: calc(.7 * var(--fs-basic));
    --fs-sm: calc(.8 * var(--fs-basic));
    --fs: var(--fs-basic);
    --fs-md: calc(1.2 * var(--fs-basic));
    --fs-lg: calc(1.6 * var(--fs-basic));
    --fs-xlg: calc(2.2 * var(--fs-basic));
    --fs-xxlg: calc(2.8 * var(--fs-basic));
    --fs-display-1: calc(4 * var(--fs-basic));
    --fs-display-2: calc(5 * var(--fs-basic));
    --fs-display-3: calc(6 * var(--fs-basic));

    /* Colors */
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 92%);
    --hover-color: rgb(243, 30, 30);

    /* Space */
    --space-scale-ratio: 1;
    --space: calc(3rem * var(--space-scale-ratio));

    --space-0_25: calc(0.25 * var(--space));
    --space-0_5: calc(0.5 * var(--space));
    --space-0_75: calc(0.75 * var(--space));
    --space-1: var(--space);
    --space-1_5: calc(1.5 * var(--space));
    --space-2: calc(2 * var(--space));
    --space-2_5: calc(2.5 * var(--space));
    --space-3: calc(3 * var(--space));
    --space-3_5: calc(3.5 * var(--space));
    --space-4: calc(4 * var(--space));

    /* Transition */
    --transition-0_3: all 0.3s ease;
}

/* Base style */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 12px;
    font-family: var(--font-1);
    font-weight: var(--fw-regular);
    line-height: 1.2;
    overflow-x: hidden;
    color: var(--white);
    letter-spacing: 1px;
    /* transition: background-color 1s ease; */
    /* transition: all 1s ease; */
}
body {
    background-color: var(--black);
}
html {
    height: 100%;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--white);
}
a:hover {
    color: var(--hover-color);
}
img {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    /* background: rgb(27, 27, 27); */
    padding-left: 3rem;
    padding-right: 3rem;
}
/* @media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
} */

/* Animation Text */
.anim-container {
    overflow: hidden;
}
.anim-text-top {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.8s ease;
}
.showText {
    transform: translateY(0);
}
.about .anim-container, .projects .anim-container {
    margin-bottom: var(--space-1_5);
}

/* Page */
.page {
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    opacity: 1;
    width: 100%;
}
.page.loaded {
    transition: opacity 2s ease;
}

/* Loader */
.loader {
    position: relative;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--gray-95);
    transition: opacity 1s ease;
}
.loader:before, .loader:after {
    content: '';
    z-index: 1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    transform: translateY(100%);
    animation: before 1s ease 3s forwards;
}
.loader:after {
    background: var(--gray-95);
    animation-delay: 3.5s;
}
@keyframes before {
    to {
        /* height: 100%; */
        transform: translateY(0);
    }
}


.loader p {
    font-size: 8vw;
    color: var(--gray-90);
    /* color: var(--white); */
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}
.loader p::after {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0%;
    color: var(--gray-5);
    animation: loader 2.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes loader {
    0% {
      width: 0%;
    }
    10% {
      width: 20%;
    }
    15% {
      width: 20%;
    }
    30% {
        width: 50%;
    }
    55% {
        width: 50%;
    }
    70% {
        width: 70%;
    }
    85% {
        width: 70%;
    }
    100% {
      width: 100%;
    }
}

/* Page Transition */
.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    inset: 0;
    z-index: 1000;
    transform: translateY(100%);
}
.transition.slide .cover {
    animation: slide 0.8s ease forwards;
    /* https://www.cssportal.com/css-cubic-bezier-generator/ */
    animation-timing-function: cubic-bezier( 0.215, 0.61, 0.355, 1 );
}
.transition.slide .cover1 {
    background-color: white;
  }
  .transition.slide .cover2 {
    background-color: black;
    animation-delay: 1s;
  }
  @keyframes slide {
to {
    transform: translateY(0%);
}
  }

/* TYPOGRAPHY */
h1 {
    font-family: var(--font-1);
    font-size: clamp(4rem, 10vw, 8rem);
    letter-spacing: -2px;
    /* margin-top: 3rem; */
}
h2 {
    font-family: var(--font-2);
    font-size: clamp(2rem, 5vw, 4rem);
    /* font-size: 3rem; */
}
h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.lead{
    font-family: var(--font-2);
    letter-spacing: 1px;
    font-size: 2.2rem;
    /* max-width: 80%; */
    /* color: red; */
}

.border {
    width: 100%;
    height: 1px;
    background: var(--white);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 9;
    /* background: cyan; */
}
.header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* background: cyan; */
}
/* Logo */
.logo img.geometric-shape {
    width: 50px;
}

/* Navigation */
.nav {
    /* background: cyan; */
    align-self: center;
}
.nav ul {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li {
    transition: all 1s ease;
    margin-left: 5rem;
}
.nav ul li a {
    transition: all 1s ease;
    font-size: 2.2rem;
}
@media screen and (max-width:660px) {
    .nav ul li {
        margin-left: 3rem;
    }
    .nav ul li a {
        font-size: 1.6rem;
    }
}
@media screen and (max-width:480px) {
    .nav ul li {
        margin-left: 2rem;
    }
    .nav ul li a {
        font-size: 1.4rem;
    }
}


/* Media Nav Landscape Only Mobile Devices */
@media screen and (orientation: landscape) and (hover: none){
}
/* Media Nav */
@media screen and (min-width: 801px) {
}


/* Landing Page */
.landing-page {
    min-height: 800px;
    height: 100vh;
    margin-top: 5rem;
    /* background: red; */
}
.landing-page .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    line-height: .9;
}
h2 {
    margin-bottom: 3rem;
}
.landing-page .geometric-shape {
    width: 50px;
    margin-left: 5rem;
}

.experience-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 10rem;
    transition: all 1s ease;
    /* padding: 0 2rem; */
    /* align-items: center; */
    /* background: cyan; */
}
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    border: 2px solid var(--white);
    border-right: 2px solid var(--black);
    width: 350px;
    height: 350px;
    transition: all 1s ease;
}
.experience span {
    font-size: 3rem;
    text-align: center;
    line-height: 2;
    transition: font-size 1s ease;
    /* background: cyan; */
}
@media screen and (max-width:860px) {
    .experience-container {
        gap: 3rem;
    }
    .experience {
        width: 260px;
        height: 260px;
    }
    .experience span {
        font-size: 2.4rem;
        line-height: 1.2;
    }
}
@media screen and (max-width:680px) {
    .landing-page {
        /* min-height: auto; */
        /* height: 100vh; */
    }
    .experience-container {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .experience:first-child {
        align-self: flex-end;
        /* transform: translateY(20px); */
    }
}
@media screen and (max-width:480px) {
    .experience-container {
        gap: 0rem;
    }
    .experience {
        width: 200px;
        height: 200px;
    }
    .experience span {
        font-size: 1.6rem;
    }
}

/* About Me*/
.about-me .container{
    display: flex;
}
.about-me .text-content {
    width: 100%;
}
.about-me h3 {
    /* background: cyan; */
    position: relative;
}

.about-me .geometric-shape {
    width: 30px;
    position: absolute;
    right: 0;
}

.about-me img.person {
    /* position: absolute; */
    /* top: -20px; */
    right: 0;
    width: 50%;
    /* background: cyan; */
    /* background: red; */
}

/* Projects */
.projects {
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media screen and (min-width: 900px) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
    .projects img:first-child {
        grid-column: 1/3;
    }
    .projects img:nth-child(2) {
        grid-column: 3/5;
    }
}

/* Awards & Contact */
.awards .text-content p, .contact .text-content span {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    font-family: var(--font-2);
    line-height: 2.4;
    /* background: cyan; */
    /* flex-direction: column; */
}
.awards .geometric-shape {
    width: 20px;
}

/* Footer */
.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* background: red; */
    /* padding: 0 var(--space-0_5); */
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: cyan; */
}

.footer .geometric-shape {
    width: auto;
    height: 100px;
    /* background: red; */
}
.social-icon {
    display: flex;
    align-items: flex-end;
    /* background: cyan; */
}
.social-icon a {
    margin-left: 3rem;
    height: 100%;
    /* background: cyan; */
}

.social-icon img {
    height: 40px;
    width: auto;
}
.social-icon a:first-child img{
    height: 30px;
}

.social-icon .ikona:hover {
    fill: red;
    /* background: red; */
}

/* Media Footer */
/* @media screen and (min-width: 720px) {
    .footer {
        padding: 0 var(--space-1);
    }
} */

/* Copyright */
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    font-size: 9px;
}
.copyright p{
    font-weight: var(--fw-light);
    font-size: 9px;
}
/* Media Copyright */
@media screen and (min-width: 720px) {
    .copyright p{
        font-size: 12px;
    }
}

/* button go top page */
.btn-go-top {
    z-index: 5;
    position: fixed;
    display: flex;
    bottom: 0px;
    right: 0px;
    padding: 1rem;
    background: var(--gray-95);
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: var(--transition-0_3);
}
.btn-go-top svg {
    fill: var(--white);
}
.visible {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

/* Media Root */
/* @media screen and (min-width: 720px) {
    :root{
        --font-scale-ratio: 1.2;
        --space-scale-ratio: 2;
    }
} */